<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 2</title>
</head>
<body>

    <div id="app">
        <div v-if="gender === 'female' || gender === 'male'">
            <h1 v-if="gender === 'male'">Hello, Mister {{ name }}</h1>
            <h1 v-else>Hello, Miss {{ name }}</h1>
        </div>
        <h1 v-else>So you can’t decide. Fine!</h1>
        <div>
            <p>Enter your gender:</p>
            <input type="text" v-model="gender">
            <p>Enter your name:</p>
            <input type="text" v-model="name">
        </div>
        <pre>
            {{ $data }}
        </pre>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                gender: '',
                name: ''
            }
        })
    </script>
</body>
</html>