<html>
<head>
    <title>Hello Vue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div id="app" class="container">
   <table class="table table-striped">
       <tr>
           <th>#</th>
           <th>Plot</th>
           <th>Writers</th>
           <th>Upvotes</th>
           <th>Actions</th>
       </tr>
       <tr v-for="story in stories" is="story" :story="story"></tr>
   </table>

   <p class="lead">
       Here's a list of all your stories.
       <button @click="createStory" class="btn btn-primary">
        Add new one
        </button>
    </p>
    <!-- <pre>
        {{ $data }}
    </pre> -->
</div>

<template id="template-story-raw">
    <tr>
        <td>
            {{ story.id }}
        </td>
        <td>
            <input v-if="story.editing" v-model="story.plot" class="form-control">
            <span v-else>{{ story.plot }}</span>
        </td>
        <td>
            <input v-if="story.editing" v-model="story.writer" class="form-control">
            <span v-else>{{ story.writer }}</span>
        </td>
        <td>
            {{ story.upvotes }}
        </td>
        <td>
            <div v-if="!story.editing" class="btn-group">
                <button @click="upvoteStory(story)" class="btn btn-primary">
                    Upvote 
                </button>
                <button @click="editStory(story)" class="btn btn-default">
                    Edit
                </button>
                <button @click="deleteStory(story)" class="btn btn-danger">
                    Delete
                </button>
            </div>
            <div v-else class="btn-group">
                <button v-if="story.id" @click="updateStory(story)" class="btn btn-primary">
                    Update Story 
                </button>
                <button v-else @click="storeStory(story)" class="btn btn-success">
                    Save Story 
                </button>
                <button @click="story.editing = false" class="btn btn-default">
                    Cancel
                </button>
            </div>
        </td>
    </tr>
</template>



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    Vue.component('story',{
        template: '#template-story-raw',
        props: ['story'],
        methods: {
            upvoteStory: function(story){
                story.upvotes++
                axios.patch('http://localhost:8000/api/stories/' + story.id, story)
            },
            deleteStory: function(story){
                var index = this.$parent.stories.indexOf(story)
                this.$parent.stories.splice(index,1)
                
                // make DELETE request
                axios.delete('http://localhost:8000/api/stories/' + story.id)
            },
            editStory: function(story){
                story.editing = true
            },
            updateStory: function(story){
                axios.patch('http://localhost:8000/api/stories/' + story.id, story)
                .then(function(){
                    story.editing = false
                })
            },
            storeStory: function(story){
                axios.post('http://localhost:8000/api/stories/', story)
                .then(function(response){
                    Vue.set(story,'id',response.data.id)
                
                    story.editing = false
                    // vm.fetchStories()
                })
               
            }
        }
    })

    var vm = new Vue({
        el: '#app',
        data: {
            stories: []
        },
        mounted: function(){
            this.fetchStories()
        },
        methods: {
            createStory: function(){
                var newStory = {
                    "plot": "",
                    "upvotes": 0,
                    "editing": true
                }
                this.stories.push(newStory)
            },
            fetchStories: function(){
                // var vm = this 
                axios.get('http://localhost:8000/api/stories')
                    .then(function(response){
                        var storiesReady = response.data.map(function(story){
                            story.editing = false 
                            return story;
                        })

                        // vm.stories = storiesReady
                        Vue.set(vm,'stories',storiesReady)
                    })
            }
        }
    })
</script>
</html>